<div class="container2">
  <div class="col_patient-Details">
    <div class="patient-details">
      <table class="table table-borderless tbl-patient-details">
        <tr>
          <td>Patient ID</td>
          <td>{{patientId}}</td>
          <td>Operative Side</td>
        </tr>
        <tr>
          <td>Implant Plan ID</td>
          <td>{{implantPlanId}}</td>
          <td class="bold-font">Left</td>
        </tr>
        <tr>
          <td>Patient Name</td>
          <td>{{patientName}}</td>
          <td></td>
        </tr>
      </table>
    </div>
    <div class="horizontal_tabs">
      <div class="tabs">
        <input type="radio" name="tabs" id="tabone" (click)="selectTab1()" checked="checked">
        <label for="tabone" class="tab1">Step 1</label>
        <div class="tab scroll-box">
          <div class="center-align">
            <div class="tab-heading">
              <label class="font25">Patient Landmarks</label>
            </div>
            <div class="chk-center-align-tab1 mx-auto">
              <input type="checkbox" class="chk-style" [checked]="!isHipCenterChecked || firstCheck"
                (change)="checkedChangeTab1($event)" value="hipCenter">
              <label class="font22 pl-3 pr-3 middle-align1">Hip Center</label>
              <img class="" *ngIf="hipCenter" src="assets/images/bone-registration/tick.png">
            </div>
            <div class="chk-center-align-tab1">
              <input type="checkbox" class="chk-style" [checked]="!isMedialMalleousChecked"
                (change)="checkedChangeTab1($event)" value="medialMalleous">
              <label class="font22 pl-3 pr-3 middle-align1">Medial Malleolus</label>
              <img class="status-icon" *ngIf="medialMalleous" src="assets/images/bone-registration/tick.png">
            </div>
            <div class="chk-center-align-tab1">
              <input type="checkbox" class="chk-style" [checked]="!isLateralMalleousChecked"
                (change)="checkedChangeTab1($event)" value="lateralMalleous">
              <label class="font22 pl-3 pr-3 middle-align1">Lateral Malleolus</label>
              <img class="status-icon" *ngIf="lateralMalleous" src="assets/images/bone-registration/tick.png">
            </div>
            <div class="top-margin">
              <button type="button" class="btn-clear-tab1 mr-4"
                [disabled]="(isHipCenterChecked && !firstCheck) && isMedialMalleousChecked && isLateralMalleousChecked"
                (click)="onClear()">Clear</button>
              <button type="button" class="btn-capture-tab1"
                [disabled]="(isHipCenterChecked && !firstCheck) && isMedialMalleousChecked && isLateralMalleousChecked"
                (click)="onCapture()">Capture</button>
            </div>
          </div>
        </div>
        <input type="radio" name="tabs" [disabled]="!hipCenter || !medialMalleous || !lateralMalleous"
          (click)="selectTab2()" id="tabtwo">
        <label for="tabtwo" class="tab2">Step 2</label>
        <div class="tab scroll-box">
          <div class="center-align">
            <div class="tab-heading">
              <label class="font25">Bone Checkpoints</label>
            </div>
            <div class="chk-center-align-tab2">
              <div style="width: 190px;display: flex;align-items: center;">
                <input type="checkbox" class="chk-style" [checked]="!isFemurChecked || firstCheck"
                  (change)="checkedChangeTab2($event)" value="femur">
                <label class="font22 pl-3 pr-2 middle-align1">Femur</label>
                <img class="status-icon" *ngIf="femur" src="assets/images/bone-registration/tick.png">
              </div>
              <div style="width: 190px;display: flex;align-items: center;">
                <input type="checkbox" class="chk-style ml-4" [checked]="!isTibiaChecked"
                  (change)="checkedChangeTab2($event)" value="tibia">
                <label class="font22  pl-3 pr-2 middle-align1">Tibia</label>
                <img class="status-icon" *ngIf="tibia" src="assets/images/bone-registration/tick.png">
              </div>
            </div>
            <div>
              <button type="button" class="btn-clear-points"
                [disabled]="(isFemurChecked && !firstCheck) && isTibiaChecked"
                (click)="onVerifyCheckPointsTab2()">Verify
                Checkpoint</button>
            </div>
            <div>
              <button type="button" class="btn-verify" [disabled]="(isFemurChecked && !firstCheck) && isTibiaChecked"
                (click)="onClearCheckPointTab2()">Clear Checkpoint</button>
            </div>
          </div>
        </div>
        <input type="radio" name="tabs" id="tabthree" [disabled]="!femur && !tibia" (click)="selectTab3()">
        <label for="tabthree" class="tab2">Step 3</label>
        <div class="tab scroll-box">
          <div class="center-align">
            <div class="tab-heading-tab3">
              <label class="font25">Target Points and Verification</label>
            </div>
            <div class="chk-center-align-tab3">
              <div style="width: 190px;display: flex;align-items: center;">
                <input type="checkbox" class="chk-style" [checked]="!isTab3FemurChecked || firstCheck"
                  (change)="checkedChangeTab3($event)" value="femurTab3">
                <label class="font22 pl-3 pr-2 middle-align1">Femur</label>
                <img class="status-icon" *ngIf="femurTab3" src="assets/images/bone-registration/tick.png">
              </div>
              <div style="width: 190px;display: flex;align-items: center;">
                <input type="checkbox" class="chk-style" [checked]="!isTab3TibiaChecked"
                  (change)="checkedChangeTab3($event)" value="tibiaTab3">
                <label class="font22  pl-3 pr-2 middle-align1">Tibia</label>
                <img class="status-icon" *ngIf="tibiaTab3" src="assets/images/bone-registration/tick.png">
              </div>
            </div>
            <div>
              <button type="button" class="btn-capture-tab3"
                [disabled]="(isTab3FemurChecked && !firstCheck) && isTab3TibiaChecked"
                (click)="onCaptureTab3()">Capture</button>
            </div>
            <div>
              <button type="button" class="btn-clear-points-tab3"
                [disabled]="(isTab3FemurChecked && !firstCheck) && isTab3TibiaChecked" (click)="onClearAllTab3()">Clear
                all Points</button>
            </div>
            <div>
              <button type="button" class="btn-verify">Verify</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row button-alignment">
      <div class="col-xl-6">
        <div class="form-group">
          <!-- <button type="button" class="btn-Prev" (click)="onPrev()"
          [disabled]="!hipCenter || !medialMalleous || !lateralMalleous || !femur || !tibia || !femurTab3 || !tibiaTab3"><img class="icons-prev"
              src="../../assets/images/prev-icon.png">Previous</button> -->
              <button type="button" class="btn-Prev" (click)="onPrev()"
                  src="../../assets/images/prev-icon.png">Previous</button>
        </div>
      </div>
      <div class="col-xl-6">
        <div class="form-group" style="text-align: right;">
          <button type="button" class="btn-next"
            [disabled]="!hipCenter || !medialMalleous || !lateralMalleous || !femur || !tibia || !femurTab3 || !tibiaTab3"
            (click)="onNext()">Next<img class="icons-next" src="../../assets/images/next-icon.png"></button>
            <!-- <button type="button" class="btn-next"
            
            (click)="onNext()">Next<img class="icons-next" src="../../assets/images/next-icon.png"></button> -->
        </div>
      </div>
    </div>
  </div>
  <div class="patient-images">
    <div *ngIf="isTabOne">
      <div class="image-body">
        <div class="black-header">
          <span class="success-msg" *ngIf="tab1SuccessMsg"> Landmark successfully collected</span>
          <img class="right-notification-icon" (click)="onStep1WorkFlow()"
            src="assets/images/bone-registration/notification-icon.png">
            <div class="other-option">
              <span class="mr-4"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="29.412" viewBox="0 0 30 29.412"><defs><style>.a{fill:#fff;}</style></defs><path class="a" d="M748.818,315.257s0-13.2-1.467-15.646-4.889-5.867-4.4-8.312-.489-4.4,3.423-4.889,6.356.978,9.29,0,6.845-.489,8.8,0,2.934,4.889.489,8.312-4.4,5.378-4.889,9.779a71.566,71.566,0,0,0,0,10.757Z" transform="translate(-742.903 -285.845)"/><path class="a" d="M791.845,296s-1.467,4.4-3.912,6.356S785,304.312,785,304.312v15.646h3.912l1.467-13.2a28.194,28.194,0,0,0,1.956-2.445c1.467-1.956,2.445-5.378,1.956-6.356A6.824,6.824,0,0,0,791.845,296Z" transform="translate(-764.417 -291.035)"/></svg></span>
              <span class="mr-4 ml-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="23.637" height="30" viewBox="0 0 23.637 30"><defs><style>.a{fill:#fff;}</style></defs><path class="a" d="M857.444,281s-.891,9.358-2.228,11.587-3.98,4.031-4.9,5.348c-3.119,4.456,0,8.021.891,9.8s2.674,4.456,4.456,2.674,3.12-4.9,4.9-4.9a20.82,20.82,0,0,1,6.239,1.783c.891.446,4.011.891,4.011,0,0-.791,4.011-6.685,0-8.913-1.1-.612-3.12-1.337-3.12-2.228V281.446Z" transform="translate(-848.958 -281)"/></svg>
              </span>
              <span class="mr-4 ml-3"><svg xmlns="http://www.w3.org/2000/svg" width="50" height="51.369" viewBox="0 0 50 51.369"><defs><style>.a{fill:#fff;}.b,.d{fill:none;}.b{stroke:#43e848;stroke-width:2px;}.c{stroke:none;}</style></defs><g transform="translate(1.147 2)"><path class="a" d="M924.57,344.023a2.511,2.511,0,0,0-2.374,1.709h-1.781V344h-1.889v1.731H916.85a2.518,2.518,0,1,0,0,1.889h1.677v14.218a2.514,2.514,0,0,0,0,4.664v14.016h.63V395h.63V380.518h.63V366.5a2.514,2.514,0,0,0,0-4.664V347.62H922.3a2.515,2.515,0,1,0,2.267-3.6Z" transform="translate(-444.731 -849.14) rotate(40)"/><g class="b" transform="translate(0.853)"><rect class="c" width="46" height="46"/><rect class="d" x="-1" y="-1" width="48" height="48"/></g></g></svg></span>
             <span class="ml-3"><svg xmlns="http://www.w3.org/2000/svg" width="13.918" height="43.201" viewBox="0 0 13.918 43.201"><defs><style>.a{fill:#fff;}</style></defs><path class="a" d="M1040.239,269.159,1034,272.518V261h6.239Z" transform="translate(-1034 -261)"/><path class="a" d="M1044.078,272c-1.44,0-1.92,3.839-1.92,3.839L1034,280.159l5.279,7.679,2.88,2.4.135,5.9.521.047-.416,13.72.48.014.415-13.691.714.065.551-6.058,2.4-2.4s.96-10.559.96-12S1045.518,272,1044.078,272Z" transform="translate(-1034 -266.721)"/></svg></span>
            </div>
            <div class="camera-option">
              <img class="mr-4 ml-3" src="assets/images/intra-op-planning/option7.png">
              <img class="ml-3" src="assets/images/intra-op-planning/option8.png">
            </div>
        </div>
        <div class="tab3-main-images">

          <img src="assets/images/bone-registration/{{tab1FirstImage}}">
          <img *ngIf="isRotateImg" class="rotate-img-center" src="assets/images/bone-registration/tab1-rotate.png">

          <div *ngIf="isRotateImg" class="progress">
            <div class="progress-bar" [style.width]="hipProgress"></div>
          </div>
          <label *ngIf="isRotateImg" class="progress-label">{{hipCaptureCount}}.0%</label>
        </div>
      </div>


    </div>
    <div *ngIf="isTabTwo">
      <div class="image-body">
        <div class="black-header">
          <span class="pl-3 success-msg" *ngIf="tab2SuccessMsg"> Checkpoints successfully collected</span>
          <img class="right-notification-icon" (click)="onStep2WorkFlow()"
            src="assets/images/bone-registration/notification-icon.png">
            <div class="other-option">
              <span class="mr-4"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="29.412" viewBox="0 0 30 29.412"><defs><style>.a{fill:#fff;}</style></defs><path class="a" d="M748.818,315.257s0-13.2-1.467-15.646-4.889-5.867-4.4-8.312-.489-4.4,3.423-4.889,6.356.978,9.29,0,6.845-.489,8.8,0,2.934,4.889.489,8.312-4.4,5.378-4.889,9.779a71.566,71.566,0,0,0,0,10.757Z" transform="translate(-742.903 -285.845)"/><path class="a" d="M791.845,296s-1.467,4.4-3.912,6.356S785,304.312,785,304.312v15.646h3.912l1.467-13.2a28.194,28.194,0,0,0,1.956-2.445c1.467-1.956,2.445-5.378,1.956-6.356A6.824,6.824,0,0,0,791.845,296Z" transform="translate(-764.417 -291.035)"/></svg></span>
              <span class="mr-4 ml-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="23.637" height="30" viewBox="0 0 23.637 30"><defs><style>.a{fill:#fff;}</style></defs><path class="a" d="M857.444,281s-.891,9.358-2.228,11.587-3.98,4.031-4.9,5.348c-3.119,4.456,0,8.021.891,9.8s2.674,4.456,4.456,2.674,3.12-4.9,4.9-4.9a20.82,20.82,0,0,1,6.239,1.783c.891.446,4.011.891,4.011,0,0-.791,4.011-6.685,0-8.913-1.1-.612-3.12-1.337-3.12-2.228V281.446Z" transform="translate(-848.958 -281)"/></svg>
              </span>
              <span class="mr-4 ml-3"><svg xmlns="http://www.w3.org/2000/svg" width="50" height="51.369" viewBox="0 0 50 51.369"><defs><style>.a{fill:#fff;}.b,.d{fill:none;}.b{stroke:#43e848;stroke-width:2px;}.c{stroke:none;}</style></defs><g transform="translate(1.147 2)"><path class="a" d="M924.57,344.023a2.511,2.511,0,0,0-2.374,1.709h-1.781V344h-1.889v1.731H916.85a2.518,2.518,0,1,0,0,1.889h1.677v14.218a2.514,2.514,0,0,0,0,4.664v14.016h.63V395h.63V380.518h.63V366.5a2.514,2.514,0,0,0,0-4.664V347.62H922.3a2.515,2.515,0,1,0,2.267-3.6Z" transform="translate(-444.731 -849.14) rotate(40)"/><g class="b" transform="translate(0.853)"><rect class="c" width="46" height="46"/><rect class="d" x="-1" y="-1" width="48" height="48"/></g></g></svg></span>
             <span class="ml-3"><svg xmlns="http://www.w3.org/2000/svg" width="13.918" height="43.201" viewBox="0 0 13.918 43.201"><defs><style>.a{fill:#fff;}</style></defs><path class="a" d="M1040.239,269.159,1034,272.518V261h6.239Z" transform="translate(-1034 -261)"/><path class="a" d="M1044.078,272c-1.44,0-1.92,3.839-1.92,3.839L1034,280.159l5.279,7.679,2.88,2.4.135,5.9.521.047-.416,13.72.48.014.415-13.691.714.065.551-6.058,2.4-2.4s.96-10.559.96-12S1045.518,272,1044.078,272Z" transform="translate(-1034 -266.721)"/></svg></span>
            </div>
            <div class="camera-option">
              <img class="mr-4 ml-3" src="assets/images/intra-op-planning/option7.png">
              <img class="ml-3" src="assets/images/intra-op-planning/option8.png">
            </div>

        </div>
        <div class="tab3-main-images">

          <img src="assets/images/bone-registration/{{tab2FirstImage}}">

        </div>
      </div>


    </div>
    <div *ngIf="isTabThree">
      <div class="image-body">
        <div class="black-header">
          <span class="pl-3 success-msg" *ngIf="tab3SuccessMsg"> Landmark successfully collected</span>
          <img class="right-notification-icon" (click)="onStep3WorkFlow()"
            src="assets/images/bone-registration/notification-icon.png">
            <div class="other-option">
              <span class="mr-4"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="29.412" viewBox="0 0 30 29.412"><defs><style>.a{fill:#fff;}</style></defs><path class="a" d="M748.818,315.257s0-13.2-1.467-15.646-4.889-5.867-4.4-8.312-.489-4.4,3.423-4.889,6.356.978,9.29,0,6.845-.489,8.8,0,2.934,4.889.489,8.312-4.4,5.378-4.889,9.779a71.566,71.566,0,0,0,0,10.757Z" transform="translate(-742.903 -285.845)"/><path class="a" d="M791.845,296s-1.467,4.4-3.912,6.356S785,304.312,785,304.312v15.646h3.912l1.467-13.2a28.194,28.194,0,0,0,1.956-2.445c1.467-1.956,2.445-5.378,1.956-6.356A6.824,6.824,0,0,0,791.845,296Z" transform="translate(-764.417 -291.035)"/></svg></span>
              <span class="mr-4 ml-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="23.637" height="30" viewBox="0 0 23.637 30"><defs><style>.a{fill:#fff;}</style></defs><path class="a" d="M857.444,281s-.891,9.358-2.228,11.587-3.98,4.031-4.9,5.348c-3.119,4.456,0,8.021.891,9.8s2.674,4.456,4.456,2.674,3.12-4.9,4.9-4.9a20.82,20.82,0,0,1,6.239,1.783c.891.446,4.011.891,4.011,0,0-.791,4.011-6.685,0-8.913-1.1-.612-3.12-1.337-3.12-2.228V281.446Z" transform="translate(-848.958 -281)"/></svg>
              </span>
              <span class="mr-4 ml-3"><svg xmlns="http://www.w3.org/2000/svg" width="50" height="51.369" viewBox="0 0 50 51.369"><defs><style>.a{fill:#fff;}.b,.d{fill:none;}.b{stroke:#43e848;stroke-width:2px;}.c{stroke:none;}</style></defs><g transform="translate(1.147 2)"><path class="a" d="M924.57,344.023a2.511,2.511,0,0,0-2.374,1.709h-1.781V344h-1.889v1.731H916.85a2.518,2.518,0,1,0,0,1.889h1.677v14.218a2.514,2.514,0,0,0,0,4.664v14.016h.63V395h.63V380.518h.63V366.5a2.514,2.514,0,0,0,0-4.664V347.62H922.3a2.515,2.515,0,1,0,2.267-3.6Z" transform="translate(-444.731 -849.14) rotate(40)"/><g class="b" transform="translate(0.853)"><rect class="c" width="46" height="46"/><rect class="d" x="-1" y="-1" width="48" height="48"/></g></g></svg></span>
             <span class="ml-3"><svg xmlns="http://www.w3.org/2000/svg" width="13.918" height="43.201" viewBox="0 0 13.918 43.201"><defs><style>.a{fill:#fff;}</style></defs><path class="a" d="M1040.239,269.159,1034,272.518V261h6.239Z" transform="translate(-1034 -261)"/><path class="a" d="M1044.078,272c-1.44,0-1.92,3.839-1.92,3.839L1034,280.159l5.279,7.679,2.88,2.4.135,5.9.521.047-.416,13.72.48.014.415-13.691.714.065.551-6.058,2.4-2.4s.96-10.559.96-12S1045.518,272,1044.078,272Z" transform="translate(-1034 -266.721)"/></svg></span>
            </div>
            <div class="camera-option">
              <img class="mr-4 ml-3" src="assets/images/intra-op-planning/option7.png">
              <img class="ml-3" src="assets/images/intra-op-planning/option8.png">
            </div>
        </div>
        <div class="tab3-main-images">

          <img src="assets/images/bone-registration/{{tab3FirstImage}}">

        </div>
      </div>

    </div>
  </div>
</div>
<div class="mask" *ngIf="isStep1GotIt">
  <div class="step1-context-help">
    <img src="../../assets/images/bone-registration/arrow-up.png">
    <p class="workflow-label">Tap for Context Sensitive Help</p>
  </div>
  <div class="step1-mark">
    <img src="../../assets/images/bone-registration/arrow-right.png">
    <label class="workflow-label" style="text-align: left;padding-left: 30px;">
      <!-- <span style="color:#43E848;">Step 1</span><br>  -->
      Selection of patient landmarks: hip center, medial malleolus,<br> lateral malleolus.</label>
  </div>
  <div class="step1-first-button-mark">
    <img src="../../assets/images/bone-registration/arrow-right.png">
    <label class="workflow-label" style="text-align: left;padding-left: 30px;">While keeping the pelvis stable, pivot
      the femur (circumduct hip) in an<br> expanding spiral pattern until the progress bar reaches 100%.</label>
  </div>
  <div class="step1-second-button-mark">
    <img src="../../assets/images/bone-registration/arrow-right.png">
    <label class="workflow-label" style="text-align: left;padding-left: 30px;">Palpate the anterior and posterior
      corners of the medial malleolus. Place the probe tip<br> halfway between these two corners and depress the probe
      button to collect the landmark.</label>
  </div>
  <div class="step1-third-button-mark">
    <img style="padding-left:90px" src="../../assets/images/bone-registration/arrow-up.png">
    <p class="workflow-label">Palpate the anterior and posterior corners of the lateral malleolus. Place the probe tip
      <br>halfway between these two corners and depress the probe button to collect the<br> landmark.</p>
  </div>
  <div class="step1-button">
    <button type="button" class="btn-gotIt" (click)="step1GotIt()">Got It</button>
  </div>
</div>
<div class="mask" *ngIf="isStep2GotIt">
  <div class="step1-context-help">
    <img src="../../assets/images/bone-registration/arrow-up.png">
    <p class="workflow-label">Tap for Context Sensitive Help</p>
  </div>
  <div class="step2-mark">
    <img src="../../assets/images/bone-registration/arrow-right.png">
    <label class="workflow-label" style="text-align: left;padding-left: 30px;">
      <!-- <span style="color:#43E848;">Step 2</span><br>  -->
      Collection and verification of femur and tibia checkpoints.</label>
  </div>
  <div class="step2-first-button-mark">
    <img src="../../assets/images/bone-registration/arrow-right.png">
    <label class="workflow-label" style="text-align: left;padding-left: 30px;">
      <span style="color:#43E848;">Tibia
        Checkpoint</span><br> Ensure that the tibia checkpoint is placed in hard bone and located <br>approximately 10
      mm away from the tibia cut. Depress the probe <br>button to collect and verify the tibia checkpoint.</label>
  </div>
  <div class="step2-second-button-mark">
    <img src="../../assets/images/bone-registration/arrow-up.png">
    <p class="workflow-label"><span style="color:#43E848;">Femur Checkpoint</span><br>Ensure that the femur checkpoint
      is placed in hard bone and located <br>approximately 10 mm away from the nearest femur cut. Depress the<br> probe
      button to collect and verify the femur checkpoint.</p>
  </div>
  <div class="step1-button">
    <button type="button" class="btn-gotIt" (click)="step2GotIt()">Got It</button>
  </div>
</div>
<div class="mask" *ngIf="isStep3GotIt">
  <div class="step1-context-help">
    <img src="../../assets/images/bone-registration/arrow-up.png">
    <p class="workflow-label">Tap for Context Sensitive Help</p>
  </div>
  <div class="step3-mark">
    <img src="../../assets/images/bone-registration/arrow-right.png">
    <label class="workflow-label" style="text-align: left;padding-left: 30px;">
      <!-- <span style="color:#43E848;">Step 3</span><br>  -->
      Collection and verification of bone registrations points on femur and tibia.</label>
  </div>
  <div class="step3-first-button-mark">
    <img src="../../assets/images/bone-registration/arrow-right.png">
    <label class="workflow-label" style="text-align: left;padding-left: 30px;">
      <span style="color:#43E848;">Femur and Tibia Registration</span><br> Collect all 40 bone registration points by
      placing the probe tip in the same location as <br> displayed on the screen. Ensure that the probe tip is resting
      on bone for each point and <br> depress the probe button to collect each registration point. If a point is
      partially or completely<br> occluded by an osteophyte, collect the point on the bone slightly away from the
      osteophyte. </label>
  </div>
  <div class="step3-second-button-mark">
    <img src="../../assets/images/bone-registration/arrow-right.png">
    <label class="workflow-label" style="text-align: left;padding-left: 30px;">
      <span style="color:#43E848;">Femur and Tibia Registration Verification</span><br>Collect all 6 verification
      points. When the probe tip is within 6 mm from a verification sphere,<br> the sphere will turn transparent
      enabling point collection. If a point is partially or completely <br>occluded by an osteophyte, collect the point
      as closely as possible to the verification point.</label>
  </div>
  <div class="step1-button">
    <button type="button" class="btn-gotIt" (click)="step3GotIt()">Got It</button>
  </div>
</div>
