<div>
    <ul class="breadcrumb wizard">
      <li><a routerLink="/header/user-home" routerLinkActive="completed"><img
            src="../../../assets/images/home_icon.png"> </a></li>
      <!-- <li routerLink="/implant-details/pre-op-planning" routerLinkActive="completed"><a><span class="complition-tick"></span>Pre-Op Planning</a></li> -->
      <li ><a class="done" routerLink="/header/user-home">User
          Management</a></li>     
      <li><a class="done" routerLink="/header/user-management/manage-users">Manage Users</a></li>
      <li style="font-weight: 600;"><a class="done">Reset Password</a></li>
    </ul>
  </div>
  
  <div class="main_home">
    <div class="change-password-main center-div align-center">
        <form [formGroup]="changePasswordForm" (ngSubmit)="onChangePassword()">
            <label class="form-heading">Reset Password</label>
            <div class="form-group left-align">
                <label class="change-password-label">User Name</label>
                <div class="margin-bottom50">
                <label class="change-password-label">{{userName}}</label>
                </div>
              </div>
            <div class="form-group left-align">
              <label class="change-password-label">New Password</label>
              <div class="margin-bottom50">
                <input type="password" formControlName="newPassword" class="form-control"
                [class.is-invalid]="nPassword.invalid && nPassword.touched" required>   
               
                <span class="font20">(Provide combination of at least 5 alphanumeric characters.)</span>
                <div *ngIf="nPassword.invalid && nPassword.touched" class="invalid-feedback">
                  <div *ngIf="nPassword.errors?.required">New password is required</div>
                  <div *ngIf="nPassword.errors?.pattern">Password is not correct format</div>
                </div>
              </div>
            </div>
            <div class="form-group left-align">
              <label class="change-password-label">Confirm New Password</label>
              <div class="margin-bottom50">
                <input type="password" formControlName="confirmPassword" class="form-control"
                [class.is-invalid]="cPassword.invalid && cPassword.touched" required>                
                <div *ngIf="cPassword.invalid && cPassword.touched" class="invalid-feedback">
                  <div *ngIf="cPassword.errors?.required">Confirm new password is required</div>
                  <div *ngIf="cPassword.errors?.mustMatch">Password must match</div>
                </div>
              </div>
            </div>
            <div>
                <div class="row">
                    <div class="col-xl-6 left-align">
                        <button class="btn-cancel" value="cancel" (click)="onCancel()">Cancel</button>
                    </div>
                    <div class="col-xl-6 right-align">
                        <button class="btn-update" value="update" (click)="onChangePassword()">Update</button>
                    </div>
                </div>
            </div>
          </form>
    </div>
</div>
<app-change-password-popup [display]="displayChangePasswordDialog" [changePassword]="isChangePassword" (onClose)="onChangePasswordDialogClose()"></app-change-password-popup>