<!-- <div>
  <ul class="breadcrumb wizard">
    <li routerLinkActive="completed"><a routerLink="/header/user-home" routerLinkActive="completed"><img
          src="../../../assets/images/home_icon.png"> </a></li>
   
    <li routerLinkActive="completed"><a class="done" routerLink="/header/user-home">User
        Management</a></li>
    <li *ngIf="router.url == '/header/user-management/add-new-user'" style="font-weight: 600;" routerLinkActive="completed"><a class="done">Add New
        User</a></li>
    <li *ngIf="router.url == '/header/user-management/manage-users'" style="font-weight: 600;" routerLinkActive="completed"><a class="done">Manage Users</a></li>
    <li *ngIf="router.url == '/header/user-management/manage-users'" style="font-weight: 600;" routerLinkActive="completed"><a class="done">Edit Users</a></li>
  </ul>
</div> -->
<router-outlet></router-outlet>
