<div>
    <ul class="breadcrumb wizard">
      <li routerLinkActive="completed"><a routerLink="/header/user-home" routerLinkActive="completed"><img
            src="../../../assets/images/home_icon.png"> </a></li>
      <!-- <li routerLink="/implant-details/pre-op-planning" routerLinkActive="completed"><a><span class="complition-tick"></span>Pre-Op Planning</a></li> -->
      <li><a class="done" routerLink="/header/user-home">User
          Management</a></li>     
      <li><a class="done" routerLink="/header/user-management/manage-users">Manage Users</a></li>
      <li style="font-weight: 600;"><a class="done">Edit Users</a></li>
     
    </ul>
  </div>

<div class="main-container">
    <form [formGroup]="editForm" (ngSubmit)="onEditUser()">
    <div class="row">
      <div class="col-xl-2"></div>
      <div class="col-xl-5">
        <div class="form-group left-align marging-top">
            <label class="change-password-label">User Name</label>
            <div class="margin-bottom50">
            <label class="change-password-label">{{selectedUser[0].userName}}</label>
            </div>
        </div>
        <div class="form-group left-align marging-top">
          <label class="change-password-label">First Name</label>
          <div class="margin-bottom50">
            <input type="text" placeholder="Enter first name" formControlName="firstName" 
              class="form-control" >
            <!-- <div *ngIf="cPassword.invalid && cPassword.touched" class="invalid-feedback">
              <div *ngIf="cPassword.errors?.required">Confirm new password is required</div>
              <div *ngIf="cPassword.errors?.mustMatch">Password must match</div>
            </div> -->
          </div>
        </div>
        <div class="form-group left-align marging-top">
            <label class="change-password-label">Role</label>
            <div class="margin-bottom50">
              <!-- <input autofocus #userName type="text" class="form-control"> -->
              <select class="form-control" >
                <option value="null">User</option>
              </select>
              <!-- <div *ngIf="userName.invalid && userName.touched" class="invalid-feedback">
                <div *ngIf="userName.errors?.required">Username is required</div>
              </div> -->
            </div>
          </div>
       
      </div>
      <div class="col-xl-4">
        <div class="form-group left-align marging-top">
          <label class="change-password-label">Email</label>
          <div class="margin-bottom50">
            <input type="text" placeholder="Enter email"class="form-control" formControlName="email"
              >
            <!-- <div *ngIf="nPassword.invalid && nPassword.touched" class="invalid-feedback">
              <div *ngIf="nPassword.errors?.required">New password is required</div>
              <div *ngIf="nPassword.errors?.pattern">Password is not correct format</div>
            </div> -->
          </div>
        </div>
        <div class="form-group left-align marging-top">
          <label class="change-password-label">Last Name</label>
          <div class="margin-bottom50">
            <input type="text" placeholder="Enter last name" formControlName="lastName"
              class="form-control">
            <!-- <div *ngIf="cPassword.invalid && cPassword.touched" class="invalid-feedback">
              <div *ngIf="cPassword.errors?.required">Confirm new password is required</div>
              <div *ngIf="cPassword.errors?.mustMatch">Password must match</div>
            </div> -->
          </div>
        </div>
      
        <div style="display: flex;align-items: center;" class="marging-top1">
            <input type="checkbox" class="chk-style" value="axisAngle" formControlName="monogramCertified">
            <label class="general-labels-chk pl-2 pr-1">Monogram Certified</label>
          </div>
      </div>
      <div class="col-xl-1"></div>
    </div>
    </form>
    <div class="row top-padding">
      <div class="col-xl-12">
        <div class="form-group" style="text-align: right;">
          <button type="button" class="btn-cancel mr-5" (click)="onCancel()">Cancel</button>
          <!-- <button type="button" class="btn-next" [disabled]="!connectProbe || verifyProbe || connectRobot || dropeRobotic || endEffectot || mountIrrigation || cameraView" (click)="onNext()" >Next <img class="icons-next" src="../../assets/images/next-icon.png"></button> -->
          <button type="button" class="btn-new-user" (click)="onEditUser()">Save</button>  
        </div>
      </div>
    </div>
  </div>
  