<div class="container2">
  <div class="col_patient-Details">
    <div class="patient-details">
      <table class="table table-borderless tbl-patient-details">
        <tr>
          <td>Patient ID</td>
          <td>{{patientId}}</td>
          <td>Operative Side</td>
        </tr>
        <tr>
          <td>Implant Plan ID</td>
          <td>{{implantPlanId}}</td>
          <td class="bold-font">Left</td>
        </tr>
        <tr>
          <td>Patient Name</td>
          <td>{{patientName}}</td>
          <td></td>
        </tr>
      </table>
    </div>
    <div class="horizontal_tabs">
      <div class="tabs">
        <input type="radio" name="tabs" id="tabone" checked="checked">
        <label for="tabone" class="tab1" (click)="selectTab1()">Implant Planning</label>
        
        <div class="tab scroll-box">
          <div class="">
            <div class="tab-body-select">
              <div class="form-group">
                <span class="block-display">Femur</span>
                <select class="form-control rounded-0">
                  <option value="cruciateRetaining">Cruciate Retaining</option>
                  <option value="posteriorStabilised">Posterior Stabilised</option>
                </select>
              </div>
            </div>
            <div class="tab-body-dec">
              <div class="">
                <span class="block-display">Size</span>
                <button type="button" class="btn-inc-dec tab-body-dec" (click)="decFemurSize()"><img src="../../assets/images/minus.png"></button>
                <label class="lbl-size">{{femurSize}}</label>
                <button type="button" class="btn-inc-dec tab-body-inc" (click)="incFemurSize()"><img src="../../assets/images/plus.png"></button>
              </div>
            </div>
          </div>
          <div class="">
            <div class="tab-body-select">
              <div class="form-group">
                <span class="block-display">Tibia</span>
                <select class="form-control rounded-0">
                  <option value="cruciateRetaining">Cruciate Retaining</option>
                  <option value="posteriorStabilised">Posterior Stabilised</option>
                </select>
              </div>
            </div>
            <div class="tab-body-dec">
              <div class="">
                <span class="block-display">Size</span>
                <button type="button" class="btn-inc-dec tab-body-dec" (click)="decTibiaSize()"><img src="../../assets/images/minus.png"></button>
                <label class="lbl-size">{{tibiaSize}}</label>
                <button type="button" class="btn-inc-dec tab-body-inc" (click)="incTibiaSize()"><img src="../../assets/images/plus.png"></button>
              </div>
            </div>
          </div>
          <div class="">
            <div class="tab-body-select">
              <div class="form-group">
                <span class="block-display">Insert</span>
                <select class="form-control rounded-0">
                  <option value="cruciateRetaining">Cruciate Retaining</option>
                  <option value="posteriorStabilised">Posterior Stabilised</option>
                </select>
              </div>
            </div>
            <div class="tab-body-dec">
              <div class="">
                <span class="block-display">Thickness (mm)</span>
                <button type="button" class="btn-inc-dec tab-body-dec" (click)="decThickness()"><img src="../../assets/images/minus.png"></button>
                <label class="lbl-size">{{thickness}}</label>
                <button type="button" class="btn-inc-dec tab-body-inc" (click)="incThickness()"><img src="../../assets/images/plus.png"></button>
              </div>
            </div>
          </div>
         
        </div>
        <input type="radio" name="tabs" id="tabtwo">
        <label for="tabtwo" class="tab2" (click)="selectTab2()">Ligament Balancing</label>
       
        <div class="tab scroll-box">
          <div class="">
            <div class="tab-body-select">
              <div class="form-group">
                <span class="block-display">Femur</span>
                <select class="form-control rounded-0">
                  <option value="cruciateRetaining">Cruciate Retaining</option>
                  <option value="posteriorStabilised">Posterior Stabilised</option>
                </select>
              </div>
            </div>
            <div class="tab-body-dec">
              <div class="">
                <span class="block-display">Size</span>
                <button type="button" class="btn-inc-dec tab-body-dec" (click)="decTab2FemurSize()"><img src="../../assets/images/minus.png"></button>
                <label class="lbl-size">{{tab2FemurSize}}</label>
                <button type="button" class="btn-inc-dec tab-body-inc" (click)="incTab2FemurSize()"><img src="../../assets/images/plus.png"></button>
              </div>
            </div>
          </div>
          <div class="">
            <div class="tab-body-select">
              <div class="form-group">
                <span class="block-display">Tibia</span>
                <select class="form-control rounded-0">
                  <option value="cruciateRetaining">Cruciate Retaining</option>
                  <option value="posteriorStabilised">Posterior Stabilised</option>
                </select>
              </div>
            </div>
            <div class="tab-body-dec">
              <div class="">
                <span class="block-display">Size</span>
                <button type="button" class="btn-inc-dec tab-body-dec" (click)="decTab2TibiaSize()"><img src="../../assets/images/minus.png"></button>
                <label class="lbl-size">{{tab2TibiaSize}}</label>
                <button type="button" class="btn-inc-dec tab-body-inc" (click)="incTab2TibiaSize()"><img src="../../assets/images/plus.png"></button>
              </div>
            </div>
          </div>
          <div class="">
            <div class="tab-body-select">
              <div class="form-group">
                <span class="block-display">Insert</span>
                <select class="form-control rounded-0">
                  <option value="cruciateRetaining">Cruciate Retaining</option>
                  <option value="posteriorStabilised">Posterior Stabilised</option>
                </select>
              </div>
            </div>
            <div class="tab-body-dec">
              <div class="">
                <span class="block-display">Thickness (mm)</span>
                <button type="button" class="btn-inc-dec tab-body-dec" (click)="decTab2Thickness()"><img src="../../assets/images/minus.png"></button>
                <label class="lbl-size">{{tab2Thickness}}</label>
                <button type="button" class="btn-inc-dec tab-body-inc" (click)="incTab2Thickness()"><img src="../../assets/images/plus.png"></button>
              </div>
            </div>
          </div>
         
        </div>
      </div>
    </div>
    <div class="row button-alignment">
      <div class="col-xl-6">
        <div class="form-group">
          <button type="button" class="btn-Prev" (click)="onPrev()"><img class="icons-prev" src="../../assets/images/prev-icon.png">Previous</button>
        </div>
      </div>
      <div class="col-xl-6">
        <div class="form-group" style="text-align: right;">
          <button type="button" class="btn-next" (click)="onNext()">Next<img class="icons-next" src="../../assets/images/next-icon.png"></button>
        </div>
      </div>
    </div>
  </div>
  <div class="patient-images">
    <div *ngIf="isTabOne">
      <div class="image-body">
        <div class="black-header">
          <!-- <img src="assets/images/intra-op-planning/done-tick.png"> -->
          <span class="success-msg">Implant Plan is Updated Successfully</span>

          <div class="other-option">
            <span class="mr-4"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="29.412" viewBox="0 0 30 29.412"><defs><style>.a{fill:#fff;}</style></defs><path class="a" d="M748.818,315.257s0-13.2-1.467-15.646-4.889-5.867-4.4-8.312-.489-4.4,3.423-4.889,6.356.978,9.29,0,6.845-.489,8.8,0,2.934,4.889.489,8.312-4.4,5.378-4.889,9.779a71.566,71.566,0,0,0,0,10.757Z" transform="translate(-742.903 -285.845)"/><path class="a" d="M791.845,296s-1.467,4.4-3.912,6.356S785,304.312,785,304.312v15.646h3.912l1.467-13.2a28.194,28.194,0,0,0,1.956-2.445c1.467-1.956,2.445-5.378,1.956-6.356A6.824,6.824,0,0,0,791.845,296Z" transform="translate(-764.417 -291.035)"/></svg></span>
            <span class="mr-4 ml-3">
              <svg xmlns="http://www.w3.org/2000/svg" width="23.637" height="30" viewBox="0 0 23.637 30"><defs><style>.a{fill:#fff;}</style></defs><path class="a" d="M857.444,281s-.891,9.358-2.228,11.587-3.98,4.031-4.9,5.348c-3.119,4.456,0,8.021.891,9.8s2.674,4.456,4.456,2.674,3.12-4.9,4.9-4.9a20.82,20.82,0,0,1,6.239,1.783c.891.446,4.011.891,4.011,0,0-.791,4.011-6.685,0-8.913-1.1-.612-3.12-1.337-3.12-2.228V281.446Z" transform="translate(-848.958 -281)"/></svg>
            </span>
            <span class="mr-4 ml-3"><svg xmlns="http://www.w3.org/2000/svg" width="50" height="51.369" viewBox="0 0 50 51.369"><defs><style>.a{fill:#fff;}.b,.d{fill:none;}.b{stroke:#43e848;stroke-width:2px;}.c{stroke:none;}</style></defs><g transform="translate(1.147 2)"><path class="a" d="M924.57,344.023a2.511,2.511,0,0,0-2.374,1.709h-1.781V344h-1.889v1.731H916.85a2.518,2.518,0,1,0,0,1.889h1.677v14.218a2.514,2.514,0,0,0,0,4.664v14.016h.63V395h.63V380.518h.63V366.5a2.514,2.514,0,0,0,0-4.664V347.62H922.3a2.515,2.515,0,1,0,2.267-3.6Z" transform="translate(-444.731 -849.14) rotate(40)"/><g class="b" transform="translate(0.853)"><rect class="c" width="46" height="46"/><rect class="d" x="-1" y="-1" width="48" height="48"/></g></g></svg></span>
           <span class="ml-3"><svg xmlns="http://www.w3.org/2000/svg" width="13.918" height="43.201" viewBox="0 0 13.918 43.201"><defs><style>.a{fill:#fff;}</style></defs><path class="a" d="M1040.239,269.159,1034,272.518V261h6.239Z" transform="translate(-1034 -261)"/><path class="a" d="M1044.078,272c-1.44,0-1.92,3.839-1.92,3.839L1034,280.159l5.279,7.679,2.88,2.4.135,5.9.521.047-.416,13.72.48.014.415-13.691.714.065.551-6.058,2.4-2.4s.96-10.559.96-12S1045.518,272,1044.078,272Z" transform="translate(-1034 -266.721)"/></svg></span>
          </div>
          <div class="camera-option">
            <img class="mr-4 ml-3" src="assets/images/intra-op-planning/option7.png">
            <img class="ml-3" src="assets/images/intra-op-planning/option8.png">
          </div>
        </div>
        <div class="main-images">
          <div class="row1-blocks">
            <div class="block1" (mouseover)='overShowHideButtons()' (mouseout)='outShowHideButtons()'>
              <label class="componet-value">Components <br>Value 0<sup>0</sup></label>
              <img src="assets/images/intra-op-planning/img1.png">
              <img class="center-div" src="../../assets/images/pre-opp-planning/img-mask.png">
              <label class="block1-label-left">9 mm</label>
              <label class="block1-label-right">7 mm</label>
              <!-- <div *ngIf="showHideButtons">
                <a href="#" class="arrow-left-button"><img
                    src="assets/images/intra-op-planning/arrow-left.png"></a>
                <a href="#" class="arrow-down-button"><img
                    src="assets/images/intra-op-planning/arrow-down.png"></a>
                <a href="#" class="arrow-right-button"><img
                    src="assets/images/intra-op-planning/arrow-right.png"></a>
                <a href="#" class="rotate360-button"><img src="assets/images/intra-op-planning/rotate360.png"></a>
                <a href="#" class="rotate90-button"><img src="assets/images/intra-op-planning/rotate90.png"></a>
                <a href="#" class="rotate-90-button"><img src="assets/images/intra-op-planning/rotate-90.png"></a>
              </div> -->
            </div>
            <div class="block2">
              <!-- <label class="componet-value">Components <br>Value 0<sup>0</sup></label> -->
              <img class="center-div" src="assets/images/intra-op-planning/img2.png">
              <label class="block1-label-left">10 mm</label>
              <label class="block1-label-right">3 mm</label>
            </div>
          </div>
          <div class="row2-blocks">
            <div class="block3">
              <label class="componet-value">Components <br>Value 0<sup>0</sup></label>
              <label class="block3-label-left">6 mm</label>
              <label class="block3-label-right">11 mm</label>
              <img  class="block3-center-div" src="assets/images/intra-op-planning/img3.png">
              <img class="center-div" src="../../assets/images/pre-opp-planning/img-mask.png">
            </div>
            <div class="block4">
              <!-- <label class="componet-value">Components <br>Value 0<sup>0</sup></label> -->
              <img  class="center-div" src="assets/images/intra-op-planning/img4.png">
            </div>
          </div>
        </div>
      </div>
      <div class="image-options">      
        <div>
          <div class="view-label">View</div>
          <button type="button" class="btn-options btn-normal">Extension</button>
          <button type="button" class="btn-options btn-normal">Flexion</button>
          <button type="button" class="btn-options btn-normal">Axial Tibia</button>
          <div class="view-label">Show</div>
          <button type="button" class="btn-options btn-highlight">Implants</button>
          <button type="button" class="btn-options btn-normal">Cuts</button>
          <button type="button" class="btn-options btn-normal">Axes</button>
          <button type="button" class="btn-options btn-normal">Landmarks</button>
          <button type="button" class="btn-options btn-normal">Slicer</button>

        </div>
      </div>

    </div>
    <div *ngIf="isTabTwo">
      <div class="image-body">
        <div class="black-header">
          <!-- <img src="assets/images/intra-op-planning/done-tick.png"> -->
          <span class="success-msg">Implant Plan is Updated Successfully</span>

          <div class="other-option">
            <span class="mr-4"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="29.412" viewBox="0 0 30 29.412"><defs><style>.a{fill:#fff;}</style></defs><path class="a" d="M748.818,315.257s0-13.2-1.467-15.646-4.889-5.867-4.4-8.312-.489-4.4,3.423-4.889,6.356.978,9.29,0,6.845-.489,8.8,0,2.934,4.889.489,8.312-4.4,5.378-4.889,9.779a71.566,71.566,0,0,0,0,10.757Z" transform="translate(-742.903 -285.845)"/><path class="a" d="M791.845,296s-1.467,4.4-3.912,6.356S785,304.312,785,304.312v15.646h3.912l1.467-13.2a28.194,28.194,0,0,0,1.956-2.445c1.467-1.956,2.445-5.378,1.956-6.356A6.824,6.824,0,0,0,791.845,296Z" transform="translate(-764.417 -291.035)"/></svg></span>
            <span class="mr-4 ml-3">
              <svg xmlns="http://www.w3.org/2000/svg" width="23.637" height="30" viewBox="0 0 23.637 30"><defs><style>.a{fill:#fff;}</style></defs><path class="a" d="M857.444,281s-.891,9.358-2.228,11.587-3.98,4.031-4.9,5.348c-3.119,4.456,0,8.021.891,9.8s2.674,4.456,4.456,2.674,3.12-4.9,4.9-4.9a20.82,20.82,0,0,1,6.239,1.783c.891.446,4.011.891,4.011,0,0-.791,4.011-6.685,0-8.913-1.1-.612-3.12-1.337-3.12-2.228V281.446Z" transform="translate(-848.958 -281)"/></svg>
            </span>
            <span class="mr-4 ml-3"><svg xmlns="http://www.w3.org/2000/svg" width="50" height="51.369" viewBox="0 0 50 51.369"><defs><style>.a{fill:#fff;}.b,.d{fill:none;}.b{stroke:#43e848;stroke-width:2px;}.c{stroke:none;}</style></defs><g transform="translate(1.147 2)"><path class="a" d="M924.57,344.023a2.511,2.511,0,0,0-2.374,1.709h-1.781V344h-1.889v1.731H916.85a2.518,2.518,0,1,0,0,1.889h1.677v14.218a2.514,2.514,0,0,0,0,4.664v14.016h.63V395h.63V380.518h.63V366.5a2.514,2.514,0,0,0,0-4.664V347.62H922.3a2.515,2.515,0,1,0,2.267-3.6Z" transform="translate(-444.731 -849.14) rotate(40)"/><g class="b" transform="translate(0.853)"><rect class="c" width="46" height="46"/><rect class="d" x="-1" y="-1" width="48" height="48"/></g></g></svg></span>
           <span class="ml-3"><svg xmlns="http://www.w3.org/2000/svg" width="13.918" height="43.201" viewBox="0 0 13.918 43.201"><defs><style>.a{fill:#fff;}</style></defs><path class="a" d="M1040.239,269.159,1034,272.518V261h6.239Z" transform="translate(-1034 -261)"/><path class="a" d="M1044.078,272c-1.44,0-1.92,3.839-1.92,3.839L1034,280.159l5.279,7.679,2.88,2.4.135,5.9.521.047-.416,13.72.48.014.415-13.691.714.065.551-6.058,2.4-2.4s.96-10.559.96-12S1045.518,272,1044.078,272Z" transform="translate(-1034 -266.721)"/></svg></span>
          </div>
          <div class="camera-option">
            <img class="mr-4 ml-3" src="assets/images/intra-op-planning/option7.png">
            <img class="ml-3" src="assets/images/intra-op-planning/option8.png">
          </div>
        </div>
        <div class="main-images">
          <div class="tab2-block1">
            <!-- <label class="componet-value">Components <br>Value 0<sup>0</sup></label> -->
            <img class="center-div1" src="assets/images/intra-op-planning/tab2-img1.png">
            <a href="#" class="tab2-sec1-leftrotatearrow"><img
                src="assets/images/intra-op-planning/rotate-revert-90.png"></a>
            <a href="#" class="tab2-sec1-rightrotatearrow"><img
                src="assets/images/intra-op-planning/rotate-revert-90.png"></a>
            <a href="#" class="tab2-sec1-downarrow"><img
                src="assets/images/intra-op-planning/rotate-revert-90.png"></a>
            <a href="#" class="tab2-sec1-uparrow"><img
                src="assets/images/intra-op-planning/rotate-revert-90.png"></a>
            <a href="#" class="tab2-sec1-downarrow"><img
                src="assets/images/intra-op-planning/rotate-revert-90.png"></a>
            <div class="firstsect-top-label-style">
              <div class="">
                <div class="">External</div>
              </div>
              <div class="mt-2">
                <div class="white-box">5<sup>0</sup></div>
              </div>
            </div>
            <div class="firstsect-left-label-style">
              <div class="label2">
                <div class="m-1">14 mm</div>
              </div>
              <div class="label2">
                <div class="m-1">20 mm</div>
              </div>
              <div class="label2">
                <div class="m-1">3 mm</div>
              </div>
            </div>
            <div class="firstsect-right-label-style">
              <div class="label2">
                <div class="m-1">14 mm</div>
              </div>
              <div class="label2">
                <div class="m-1">20 mm</div>
              </div>
              <div class="label2">
                <div class="m-1">3 mm</div>
              </div>
            </div>
          </div>
          <div class="tab2-block2">
            <!-- <label class="componet-value">Components <br>Value 0<sup>0</sup></label> -->
            <img class="center-div2" src="assets/images/intra-op-planning/tab2-img2.png">
            <a href="#" class="tab2-sec1-leftrotatearrow"><img
              src="assets/images/intra-op-planning/rotate-revert-90.png"></a>
          <a href="#" class="tab2-sec1-rightrotatearrow"><img
              src="assets/images/intra-op-planning/rotate-revert-90.png"></a>

              <a href="#" class="tab2-sec2-leftrotatearrow"><img
                src="assets/images/intra-op-planning/rotate-revert-90.png"></a>
                <a href="#" class="tab2-sec2-rightrotatearrow"><img
                  src="assets/images/intra-op-planning/rotate-revert-90.png"></a>
              <div class="firstsect-top-label-style">
                <div class="">
                  <div class="">Flexion</div>
                </div>
                <div class="mt-2">
                  <div class="white-box">5<sup>0</sup></div>
                </div>
              </div>
            <div class="right-label-style">
              <div class="label2">
                <div class="m-1">Limb Flexion</div>
                <div class="white-box ">88 <sup>0</sup></div>
              </div>
              <div class="label2">
                <div class="m-1">Limb Varus</div>
                <div class="white-box ">8 <sup>0</sup></div>
              </div>
              <div class="label2">
                <div class="m-1">Planned Varus</div>
                <div class="white-box ">2 <sup>0</sup></div>
              </div>
            </div>
            <div class="bottom-label-style">
              <label class="label1"><span class="m-4">Extension</span><span class="white-box">20 MM</span><span
                  class="white-box">20 MM</span></label>
              <label><span class="m-4">Flexion</span><span class="white-box">20 MM</span><span class="white-box">20
                  MM</span></label>
            </div>
          </div>

        </div>
      </div>
      <div class="image-options">
        <div>
          <!-- <div class="view-label">View</div>
          <button type="button" class="btn-options btn-highlight">Extension</button>
          <button type="button" class="btn-options btn-normal">Flexion</button>
          <button type="button" class="btn-options btn-normal">Axial Tibia</button> -->
          <div class="view-label">Show</div>
          <button type="button" class="btn-options btn-highlight">Implants</button>
          <button type="button" class="btn-options btn-normal">Cuts</button>
          <button type="button" class="btn-options btn-normal">Axes</button>
          <button type="button" class="btn-options btn-disabled">Landmarks</button>
          <button type="button" class="btn-options btn-disabled">Slicer</button>

        </div>
      </div>

    </div>
  </div>
</div>
