.container2 {
  padding-top: 15px;
}


table td {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
table tr td:nth-child(3) {
  border-left: 1px solid #a5b1b3 ;
}
.bold-font{
  font-weight: 600;
}

table {
  margin: 0;
}

.horizontal_tabs {
  padding-top: 30px;
}

.col_patient-Details {
  width: 526px;
  height: 120px;
  float: left;
}

.patient-images {
  width: 1300px;
  height: 814px;
  background-color: #4D7279;
  float: right;
}



/*   horizontal tab style  start here */
.tabs {
  display: flex;
  flex-wrap: wrap;

}

.tabs>label {
  order: 1;
  display: block;
  width: 258px;
  height: 70px;
  text-align: center;
  /* padding: 1rem 2rem; */

  cursor: pointer;
  color: black;
  font-size: 22px;
  font-weight: 500;
  transition: ease 0.2s;
  border: 1px solid #000;
  background-color: #D7E2E4;
  text-align: center;
  padding-top: 15px;

}

.tab2 {
  margin-left: 10px;
}

.tabs .tab {
  order: 99;
  flex-grow: 1;
  width: 100%; 
  display: none;
  padding: 1rem 17px;
  background-color: #A9DFE8;
  border: 1px solid black;
  border-top: none;

}

.tabs input[type="radio"] {
  display: none;
}

.tabs input[type="radio"]:checked+label {
  background: #A9DFE8;
  border-bottom: none;
  font-weight: 700;
}

.tabs input[type="radio"]:checked+label+.tab {
  display: block;
}

label {
  margin-bottom: 0;
}

.tab-body-select {
  width: 290px;
  float: left;
  margin-right: 15px;
}

.tab-body-dec {

  /* margin-right: 2px; */
  /* text-align: center; */
  margin-bottom: 15px;
}

.lbl-size {
  font-size: 30px;
  /* padding-left: 15px;
  padding-right: 15px; */
  width: 60px;
  font-weight: 600;
  text-align: center;
}

.tab-body-inc {
  width: 60px;
  height: 60px;
  /* margin-left: 7px; */
  text-align: center;
  
}

.tab-body-label {
  width: 17px;
}



/*----------------------------------------------------*/

.middile-align {
  align-items: center;
  display: flex;
}

.block-display {
  display: block;
  padding-bottom: 12px;
  font-size: 22px;
  text-align: left;
  font-weight: 500;
  color: #000;
}

select {
  background-color: #D7E2E4;
  height: 60px;
  font-size: 22px;
}

.black-header {
  background-color: #40595e ;
  height: 50px;
  align-items: center;
  display: flex;
  padding-left: 20px;
  position: relative;
}
.camera-option {
  position: absolute;
  top: 7px;
  right: 85px;
}

.other-option {
  position: absolute;
  top: 0px;
  left: 41%;
}

.success-msg {
  color: #fff;
  font-size: 20px;
}

.image-body {
  width: 1105px;
}

.image-options {
  width: 190px;
  height: 813px;
  background-color: #4D7279;
  border-left: 1px solid #bed6da ;
  float: right;
  text-align: center;
}

.row1-blocks {
  width: 1105px;
  height: 378px;
}

.row2-blocks {
  width: 1105px;
  height: 378px;
}

.button-alignment {
  padding-top: 85px;
}

.block1,
.block3 {
  width: 552px;
  height: 382px;
  border: 1px solid gray;
  float: left;
  text-align: center;
  position: relative;
}

.block2,
.block4 {
  width: 553px;
  height: 382px;
  border: 1px solid gray;
  float: right;
  text-align: center;
  position: relative;
}
.camera-option {
  position: absolute;
  top: 6px;
  right: 30px;
}

.tab2-block1 {
  width: 552px;
  height: 814px;
  float: left;
  text-align: center;
  position: relative;
}

.block3-center-div{
  
  position: absolute;
  /* bottom: -6px; */
  bottom: 0;
  left: 25%;

}

.tab2-block2 {
  width: 553px;
  height: 814px;
  float: right;
  text-align: center;
  position: relative;
}

.showHideButtons {
  visibility: hidden;
}

.block1:hover,
.block2:hover,
.block3:hover,
.block4:hover {
  border: 3px solid #43E848;
}

.rotate360-button {
  position: absolute;
  top: 15px;
  right: 15px;
}

.rotate90-button {
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.rotate-90-button {
  position: absolute;
  bottom: 15px;
  left: 15px;
}

.componet-value {
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 20px;
  color: #fff;
}

.arrow-left-button {
  position: absolute;
  top: 50%;
  left: 45px;
  -ms-transform: translate(-50%, -45px);
  transform: translate(-50%, -45px);
}

.arrow-down-button {
  position: absolute;
  left: 50%;
  bottom: 15px;
  -ms-transform: translate(-50%, -15px);
  transform: translate(-50%, -15px);
}

.arrow-right-button {
  position: absolute;
  top: 50%;
  right: 10px;
  -ms-transform: translate(-50%, -10px);
  transform: translate(-50%, -10px);
}


.bottom-label-style>label {
  position: absolute;
  bottom: 90px;
  right: 30px;
  color: #fff;
  font-size: 20px;
}

.right-label-style {
  position: absolute;
  top: 20%;
  right: 30px;
  color: #fff;
  font-size: 20px;
}

.firstsect-left-label-style {
  position: absolute;
  top: 37%;
  left: 130px;
  color: #fff;
  font-size: 20px;
}

.center-div1 {
  position: absolute;
  top: 50%;
  left: 60%;
  -ms-transform: translate(-50%, -60%);
  transform: translate(-50%, -60%);
}

.center-div2 {
  position: absolute;
  top: 42%;
  left: 40%;
  -ms-transform: translate(-50%, -40%);
  transform: translate(-50%, -40%);
}

.firstsect-right-label-style {
  position: absolute;
  top: 37%;
  right: 30px;
  color: #fff;
  font-size: 20px;
}

.firstsect-top-label-style {
  position: absolute;
  top: 18px;
  left: 46%;
  color: #fff;
  font-size: 20px;
}


.label1 {
  bottom: 160px !important;
}

.label2 {
  padding-top: 15px;
}

.white-box {
  border: 1px solid #fff;
  padding: 10px;
  border-radius: 4px;
  margin-left: 15px;
}

.tab2-sec1-uparrow {
  position: absolute;
  top: 39%;
  left: 30px;
  /* -ms-transform: translate(-45%, -45px);
  transform: translate(-45%, -45px); */
}

.tab2-sec1-downarrow {
  position: absolute;
  top: 49%;
  left: 30px;
  /* -ms-transform: translate(-55%, -45px);
    transform: translate(-55%, -45px); */
}

.tab2-sec1-leftrotatearrow {
  position: absolute;
  top: 50px;
  left: 35%;
}

.tab2-sec1-rightrotatearrow {
  position: absolute;
  top: 50px;
  left: 60%;
}

.tab2-sec2-leftrotatearrow {
  position: absolute;
  top: 45%;
  left: 30px;
}

.tab2-sec2-rightrotatearrow {
  position: absolute;
  top: 45%;
  right: 180px;
}

.btn-options {
  font-size: 22px;
  width: 150px;
  height: 68px;
  border: 1px solid #000000;
  border-radius: 3px;
  margin-top: 10px;
}

.view-label {
  font-size: 20px;
  color: #fff;
  padding-top: 10px;
  opacity: 0.5;
}

.btn-normal {
  background-color: #D7E2E4;
}

.btn-highlight {
  background-color: #A9DFE8;
}

.btn-disabled {
  background-color: #8B8B8B;
}

.block1-label-left{
  position: absolute;
  bottom: 10%;
  left: 29%;
  color: #fff;
  font-size: 22px;
}
.block1-label-right{
  position: absolute;
  bottom: 10%;
  right: 29%;
  color: #fff;
  font-size: 22px;
}

.block3-label-left{
  position: absolute;
  top: 17%;
    left: 34%;
  color: #fff;
  font-size: 22px;
}
.block3-label-right{
  position: absolute;
  top: 17%;
  right: 29%;
  color: #fff;
  font-size: 22px;
}
