<div class="main-container">
  <div class="header">
    <img class="center-div" src="assets/images/brand-splash.png">
  </div>
  <div class="sub-container">
    <div class="center-div1">
        <p class="main-heading">Status of System Checks</p>
        <div>
          <div *ngIf="battery" class="flex-display">
            <img width="23px" src="assets/images/done-tick.png"> <label class="startup-labels pl-3">Battery</label>
          </div>
          <div *ngIf="operatingSystem" class="flex-display">
            <img width="23px" src="assets/images/done-tick.png"> <label class="startup-labels pl-3">Operating System</label>
          </div>
          <div *ngIf="guidanceApp" class="flex-display">
            <img width="23px" src="assets/images/done-tick.png"> <label class="startup-labels pl-3">Guidance
              Application</label>
          </div>
          <div *ngIf="database" class="flex-display">
            <img width="23px" src="assets/images/done-tick.png"> <label class="startup-labels pl-3">Database</label>
          </div>
          <div *ngIf="cloudConnectivity" style="margin-left: -10px;">
            <img src="../../assets/images/system-setup/error-icon.png"> <label class="startup-labels1 pl-3">Cloud Connectivity</label>
            <div style="margin-left: 60px;"><label class="error-label">Integrity check failed. Please contact service engineer.</label></div>
          </div>
        </div>
    </div>
  </div>
</div>
