<p-dialog #notesDialog header="Implant Plan" [(visible)]="display" [modal]="true" [style]="{width: '1000px'}" [responsive]="true" [draggable]="false"
  [resizable]="false" styleClass="dialog" [minY]="170" [blockScroll]="true"
  [maximizable]="false" [baseZIndex]="10000" (onHide)="onHide()"> 
  <div *ngFor="let implantUSB of ImplantPlanIds">
  <div class="implant-plan-USB center-div">
    <!-- <span style="font-size: 65px;"><i class="fa fa-file-text-o" aria-hidden="true"></i></span> -->
    <span><img src="../../assets/images/document.png"> </span>
    <p class="patient-usb-details">{{implantUSB.patientName}}_<br>{{implantUSB.implantPlanId}}_{{implantUSB.patientId}}</p>
    <button type="button" class="btn-load" (click)="loadImplantPlan(implantUSB)">Load</button>
  </div>
</div>
</p-dialog>

 