<div class="base-container">
  <div class="">
    <div class="login-img">
      <img src="assets/images/login_graphics.png">
    </div>
    <div class="login-content">
      <div class="sub-container center-align">
        <img src="assets/images/brand-splash.png">
        <p class="brand-Text">Guidance Application</p>
        <p class="wecome-text">Welcome to the Monogram Surgical System</p>
        <p class="validation-msg">Please login to continue.</p>
        <div class="login-fields mx-auto">
          <form [formGroup]="loginForm" (submit)="onSubmit()">
            <div class="form-group left-align">
              <label class="login-label">Username</label>
              <div class="margin-bottom50">
                <!-- <input autofocus #userName type="text" class="form-control"> -->
                <select class="form-control" formControlName="userName"
                  [class.is-invalid]="userName.invalid && userName.touched">
                  <option value="null">Select</option>
                  <option *ngFor="let userNames of users" [value]="userNames.value">{{userNames.label}}</option>
                </select>
                <div *ngIf="userName.invalid && userName.touched" class="invalid-feedback">
                  <div *ngIf="userName.errors?.required">Username is required</div>
                </div>
              </div>
            </div>
            <div class="form-group left-align">
              <label class="login-label">Password</label>
              <div class="margin-bottom50">
                <input type="password" class="form-control" formControlName="password" placeholder="Enter your password"
                  [class.is-invalid]="password.invalid && password.touched"
                  [ngClass]="loginForm.errors != null ? 'error-border' : ''" required>
                <div *ngIf="password.invalid && password.touched" class="invalid-feedback">
                  <div *ngIf="password.errors?.required">Password is required</div>
                </div>
                <div class="error-msg" *ngIf="loginForm.errors != null">Incorrect Password</div>
              </div>
            </div>
            <div>
              <button class="btn-login" value="Login">Login</button>
            </div>
          </form>
        </div>
      </div>
      <div class="login-shutdown">
        <img (click)="onShutdown()" src="../../assets/images/login-shutdown.png">
      </div>
    </div>


  </div>
</div>
