<div class="main_home">
    <div class="change-password-main center-div align-center">
        <form [formGroup]="changePasswordForm" (ngSubmit)="onChangePassword()">
            <label class="form-heading">Change Password</label>
            <div class="form-group left-align">
              <label class="change-password-label">New Password</label>
              <div class="margin-bottom50">
                <input type="{{isNewPasswordEye ? 'text' : 'password'}}" formControlName="newPassword" class="form-control"
                [class.is-invalid]="nPassword.invalid && nPassword.touched" required>   
                <img class="field-icon" (click)="toggleNewPassword()" src="../../assets/images/eye-icon.png">
                <span class="font20">(Provide combination of at least 5 alphanumeric characters.)</span>
                <div *ngIf="nPassword.invalid && nPassword.touched" class="invalid-feedback">
                  <div *ngIf="nPassword.errors?.required">New password is required</div>
                  <div *ngIf="nPassword.errors?.pattern">Password is not correct format</div>
                </div>
              </div>
            </div>
            <div class="form-group left-align">
              <label class="change-password-label">Confirm New Password</label>
              <div class="margin-bottom50">
                <input type="{{isConfirmPasswordEye ? 'text' : 'password'}}" formControlName="confirmPassword" class="form-control"
                [class.is-invalid]="cPassword.invalid && cPassword.touched" required> 
                <img class="field-icon" (click)="toggleConfirmPassword()" src="../../assets/images/eye-icon.png">             
                <div *ngIf="cPassword.invalid && cPassword.touched" class="invalid-feedback">
                  <div *ngIf="cPassword.errors?.required">Confirm new password is required</div>
                  <div *ngIf="cPassword.errors?.mustMatch">Password must match</div>
                </div>
              </div>
            </div>
            <div>
                <div class="row">
                    <div class="col-xl-6 left-align">
                        <button class="btn-cancel" value="cancel" (click)="onCancel()">Cancel</button>
                    </div>
                    <div class="col-xl-6 right-align">
                        <button class="btn-update" value="update" (click)="onChangePassword()">Update</button>
                    </div>
                </div>
            </div>
          </form>
    </div>
</div>

<app-change-password-popup [display]="displayChangePasswordDialog" [changePassword]="isChangePassword" (onClose)="onChangePasswordDialogClose()"></app-change-password-popup>
