<div class="base-container">
  <div class="main-container">   
      <div class="splash-content">
        <div class="sub-container center-align">
        <img src="assets/images/brand-splash.png">
        <p class="initialize-Text font20 mt-4">Initializing System</p>
        <p class="loading"></p>
    </div>
    <div class="splash-footer-text">
        <label class="font22">Guidance Application v1.00</label>
    </div>
      </div>
      <div class="splash-img">
        <img src="assets/images/splash_graphic.png">
      </div>    
  </div>
</div>
