<div class="main_home">
  <div class="view-demo">
    <div class="center-div">
      <div class="demo-header mx-auto"><span  class="pr-3">Guidance Application</span>
        <span class="app-version">v1.00</span></div>
      <div class="view-demo-style">
        <img src="assets/images/view_demo.png">
        <img class="center-div" src="assets/images/Rectangle.png">
        <img class="center-div" src="assets/images/play-btn.png">
      </div>
      <label class="viewDemo-label">View Demo</label>
      <!-- <button type="button" class="btn-view-demo">
        View Demo <span><i class="fa fa-angle-right" aria-hidden="true"></i></span></button> -->
    </div>
  </div>
  <div class="load-implant">
    <div class="implant-buttons">
      <div class="">
        <div style="text-align:center">
          <h2 style="font-size: 30px;">Load Implant Plan</h2>
        </div>
        <p class="para-font">Select an Implant Plan file for patient to load</p>
        <div class="plans-btn-groups">
          <button type="button" class="btn-cloud-usb" (click)="showCloudDialog()"><img class="pr-3"
              src="assets/images/icon-Cloud.png"> Load from Cloud</button>
          <button type="button" class="btn-cloud-usb ml-4" (click)="showUSBDialog()"><img class="pr-3" src="assets/images/icon-USB.png">
            Load from USB</button>
        </div>
        <div class="optional-style">
          <label class="font-size:20px">
            Optional
          </label>
        </div>
        <p class="para-font1">Select Preferences</p>
        <button type="button"  (click)="showUserPreference()" class="btn-user-preferences">
          User Preferences</button>
      </div>
    </div>
  </div>
</div>

<app-implant-plan-cloud [display]="displayCloudDialog" (onClose)="onCloudDialogClose()"></app-implant-plan-cloud>
<app-implant-plan-usb [display]="displayUSBDialog" (onClose)="onUSBDialogClose()"></app-implant-plan-usb>
